@import url("https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --body-bg: #e3e6e6;
  --txt-primary: #080a29;
  --shadow: 0 0 10px hsla(204, 88%, 53%, 0.2);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: clip;
  text-wrap: balance;
  color: var(--txt-primary);
  background: var(--body-bg);
  font: 400 16px "Poppins", "sans-serif";
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  padding-left: 0;
  margin-bottom: 0;
  list-style-type: none;
}



input {
  width: 100%;
  background: transparent;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* ##### mijan add ##### */

#slider {
  z-index: 5;
}
.logo-title {
  margin-left: 30px;
}

.sub-menu-item h4 {
  color: black;
}

.sub-menu ul li a {
  color: black;
}

.sub-menu p {
  color: black;
}

.sub-menu p a {
  color: blue;
  text-decoration: underline;
}

.sublogin {
  width: 150px;
  margin-bottom: 5px;
}

/*========== category page =======*/
.sectionmargin {
  margin-top: 20px;
}


/*===== search bar =======*/




.navbar-nav-mega > li:hover .sub-menu {
	grid-template-columns: repeat(2, 1fr);
	padding: 1rem 2rem;
  z-index: 2500;
}

.sub-menu {
	position: absolute;
	left: 50%;
	width: 35%;
	top: 100%;
	background: white;
	box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.main-wrapper {
  z-index: 2500;
}

.cartsfa {
	font-size: 20px;
	margin-right: 10px;
  color: goldenrod;
}

.nav-item {
  color: white;
}


/*====== end search bar =========*/

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Style the "active" element to highlight the current page */
.topnav a.active {
  background-color: #2196F3;
  color: white;
}

/* Style the search box inside the navigation bar */
.topnav input[type=text] {
  float: right;
  padding: 6px;
  border: none;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;
}



.container-fluid {
	padding-right: 20px;
	padding-left: 20px;
}

.sectionbackground {
  background-color: white;
  overflow: hidden;
}

.sectionpadding {
  padding: 20px;
}

.sectionpaddingtoprating {
  padding: 20px 0px;
}

.sectionpaddinglory {
  padding: 20px 0px;
}

.sectionpaddinginspiration {
  padding-left: 20px;
  padding-right: 0px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.sectionpaddingfavourites{
  padding-left: 20px;
  padding-right: 0px;
  padding-top: 20px;
  padding-bottom: 20px;
}




.for-car .carousel-wrapper {
	background-color: white;
	border-radius: 10px;
  padding: 20px;
}



/*========== start category-1 section ==============*/
#category-1 {
  margin-top: 20px;
}

#category-2 {
  margin-top: 20px;
}

.catcontainer {
  padding: 15px;
  height: 100%;
}

.catname {
  width: 100%;
  height: 10%;
  text-align: center;
  margin-top: 5px;
  margin-bottom: 5px;
}

.catcontent1 {
  height: 40%;
}

.catcontent2 {
  height: 40%;
}

.seemore {
  height: 10%;
}

.subcat1 {
  width: 48%;
  float: left;
  height: 130px;
}

.subcat2 {
  overflow: hidden;
  width: 48%;
  float: right;
  height: 130px;
}

.catimage {
  width: 100%;
  height: 80%;
}

.catimage img {
  width: 100%;
  height: 100%;
}

/*========== end category-1  section ==============*/

/*========== start most viewed section ==============*/
#mostviewed {
  margin-bottom: 60px;
}

.mostvieweddivheading {
  margin-bottom: 20px;
  margin-left: 30px;
}

/*========== end most viewed section ==============*/

/*========== start lory section ==============*/



.lory-card {
  width: 100%;
  height: 100%;
  overflow: hidden;
  padding: 10px;
  text-align: left;
  position: relative;
}

.lorycardproductname {
  width: 100%;
}

.lorycardproductname h6 {
    text-align: center;
    line-height: 1.5rem;
    font-weight: bold;
    color: black;
    font: 400 16px "Poppins", "sans-serif"

}

.lorycardprice {
  text-align: center;
  margin-top: 10px;
  font-weight: bold;
  color: black;
  font: 400 16px "Poppins", "sans-serif"
}


.lory-card {
	box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 4px inset, rgba(0, 0, 0, 0.4) 0px -2px 1px inset;
}

.lory-card:hover {
	box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 2px inset, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px inset;
}

.lory-card .addtocartbtn {
  color: white;
  text-align: center;
  font-weight: bold;
  padding: 5px;
  font-family: GoodHome;
  font-size: 19px;
}

/*========== end lory section ==============*/

/*========== start favourites section ==============*/
#favourites {
	padding-top: 20px;
	padding-bottom: 20px;
}

.divheading {
  margin-bottom: 30px;
}

#favourites h2 {
	font-size: 2.2rem;
	font-weight: 600;
}

.owl-carousel .favouritesdiv {
  height: 280px; /* Match the parent height */
  justify-content: center;
  align-items: center;
  background-color: white; /* Optional: Background for demonstration */
  border-radius: 10px;
}

.favourites-circle {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  overflow: hidden;
}

.favourites-img {
	width: 100%;
	position: relative;
	margin-bottom: 20px;
	margin-inline: auto;
}

.favourites-section .owl-carousel .owl-nav {
  text-align: center;
  margin-top: 25px;
  margin-bottom: 10px;
}

.favourites-section .owl-carousel .owl-nav button.owl-next:focus,
.favourites-section .owl-carousel .owl-nav button.owl-prev:focus {
  outline: none;
}

.favourites-section .owl-carousel .owl-nav button.owl-next,
.favourites-section .owl-carousel .owl-nav button.owl-prev {
  height: 40px;
  width: 40px;
  display: inline-block;
  margin: 0 10px;
  border-radius: 50%;
  color: #ffffff;
  font-weight: 500;
  background-color: #323c41;
}

.favourites-section .owl-carousel .owl-nav button.owl-next:hover,
.favourites-section .owl-carousel .owl-nav button.owl-prev:hover {
  background-color: #ff6600;
}
.favourites-section .owl-carousel .owl-nav button.owl-next span,
.favourites-section .owl-carousel .owl-nav button.owl-prev span {
  font-size: 40px;
  margin-top: -13px;
  display: block;
}

/*========== end favourites section ==============*/

/*========== start service section ==============*/


#services h2 {
	font-size: 2.2rem;
	font-weight: 600;
}

/* Set the width and height of the carousel */
.owl-carousel-custom {
  width: 100%; /* Adjust as needed */
  margin: 0 auto; /* Center the carousel horizontally */
  overflow: hidden; /* Hide overflow */ 
}

/* Adjust the items within the carousel */
.owl-carousel .catdiv {
  height: 422px; /* Match the parent height */
  justify-content: center;
  align-items: center;
  background-color: white; /* Optional: Background for demonstration */
}

.owl-carousel .servicediv {
  height: 300px; /* Match the parent height */
  justify-content: center;
  align-items: center;
  background-color: white; /* Optional: Background for demonstration */
}

.services-section .owl-carousel .owl-nav {
  text-align: center;
  margin-top: 25px;
  margin-bottom: 10px;
}

.services-section .owl-carousel .owl-nav button.owl-next:focus,
.services-section .owl-carousel .owl-nav button.owl-prev:focus {
  outline: none;
}

.services-section .owl-carousel .owl-nav button.owl-next,
.services-section .owl-carousel .owl-nav button.owl-prev {
  height: 40px;
  width: 40px;
  display: inline-block;
  margin: 0 10px;
  border-radius: 50%;
  color: #ffffff;
  font-weight: 500;
  background-color: #323c41;
}

.services-section .owl-carousel .owl-nav button.owl-next:hover,
.services-section .owl-carousel .owl-nav button.owl-prev:hover {
  background-color: #ff6600;
}
.services-section .owl-carousel .owl-nav button.owl-next span,
.services-section .owl-carousel .owl-nav button.owl-prev span {
  font-size: 40px;
  margin-top: -13px;
  display: block;
}
/*========== end service section ==============*/

/*========== start inspiration section ==============*/

#inspiration {
	padding-top: 20px;
}

#inspiration h2 {
	font-size: 2.2rem;
	font-weight: 600;
}


.owl-carousel .inspirationdiv {
  height: 280px; /* Match the parent height */
  justify-content: center;
  align-items: center;
  background-color: grey; /* Optional: Background for demonstration */
  border-radius: 10px;
}

.inspiration-img {
	width: 100%;
	position: relative;
	margin-bottom: 20px;
	margin-inline: auto;
}

.inspiration-section .owl-carousel .owl-nav {
  text-align: center;
  margin-top: 25px;
  margin-bottom: 10px;
}

.inspiration-section .owl-carousel .owl-nav button.owl-next:focus,
.inspiration-section .owl-carousel .owl-nav button.owl-prev:focus {
  outline: none;
}

.inspiration-section .owl-carousel .owl-nav button.owl-next,
.inspiration-section .owl-carousel .owl-nav button.owl-prev {
  height: 40px;
  width: 40px;
  display: inline-block;
  margin: 0 10px;
  border-radius: 50%;
  color: #ffffff;
  font-weight: 500;
  background-color: #323c41;
}

.inspiration-section .owl-carousel .owl-nav button.owl-next:hover,
.inspiration-section .owl-carousel .owl-nav button.owl-prev:hover {
  background-color: #ff6600;
}
.inspiration-section .owl-carousel .owl-nav button.owl-next span,
.inspiration-section .owl-carousel .owl-nav button.owl-prev span {
  font-size: 40px;
  margin-top: -13px;
  display: block;
}

/*========== end inspiration section ==============*/

/*========== start recommended section ==============*/

.divheadingrecommened {
  margin-bottom: 15px;
}

.recommended-section .owl-carousel .owl-nav {
  text-align: center;
  margin-top: 25px;
  margin-bottom: 10px;
}

.recommended-section .owl-carousel .owl-nav button.owl-next:focus,
.recommended-section .owl-carousel .owl-nav button.owl-prev:focus {
  outline: none;
}

.recommended-section .owl-carousel .owl-nav button.owl-next,
.recommended-section .owl-carousel .owl-nav button.owl-prev {
  height: 40px;
  width: 40px;
  display: inline-block;
  margin: 0 10px;
  border-radius: 50%;
  color: #ffffff;
  font-weight: 500;
  background-color: #323c41;
}

.recommended-section .owl-carousel .owl-nav button.owl-next:hover,
.recommended-section .owl-carousel .owl-nav button.owl-prev:hover {
  background-color: #ff6600;
}
.recommended-section .owl-carousel .owl-nav button.owl-next span,
.recommended-section .owl-carousel .owl-nav button.owl-prev span {
  font-size: 40px;
  margin-top: -13px;
  display: block;
}

/*========== end recommended section ==============*/

.allbtn {
	background-color: #323c41;
	color: white;
	width: 15%;
	text-align: center;
	padding: 11px;
	font-size: 14px;
	font-weight: bold;
	margin-left: 42%;
}

.allbtn:hover {
	background-color: #ff6600;
}

.service-img {
	width: 100%;
	position: relative;
	margin-bottom: 20px;
	margin-inline: auto;
}


/* ##### utility ##### */
.flex {
  display: flex;
}

/* ##### header ##### */
.stickybar {
  position: sticky; /* Sticky positioning */
  top: 0; /* Distance from the top */
  color: white;
  z-index: 2000; /* Ensures it stays above other elements */
}


#header {
  padding: 10px 6px;
  background: #131921;
  z-index: 2500;
}

.logo {
  font-weight: 700;
  font-size: 20px;
}

.logo img {
  width: 34px;
  margin-right: 2px;
}


/* cart btn */



.btn-sm {
  color: #fff;
  font-weight: 600;
  padding: 6px 18px;
  border-radius: 8px;
  background: linear-gradient(to right, #6aa6ff, #3abbf1);
}

/* cart */

.facolor {
	color: black;
}


.cart-wrap {
  top: 56px;
  right: 21px;
  width: 420px;
  padding: 28px;
  display: none;
  min-height: 100px;
  position: absolute;
  background: #fff;
  color: black;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.cart-wrap.show {
  display: block;
}

.cart-title {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 20px;
  padding-bottom: 10px;
  border-bottom: 2px solid;
}

.cart-item {
  padding: 8px 14px;
  border-radius: 6px;
  border: 2px solid gray;
}

.item-count-wrap {
  width: 75px;
  border-radius: 6px;
  position: relative;
  background: #edf7ff;
}

.cart-item-count {
  border-radius: 6px;
  padding-inline: 26px 14px;
}

.item-count-wrap a {
  top: 50%;
  font-size: 12px;
  position: absolute;
  transform: translateY(-50%);
}

.item-count-wrap .item-plus {
  right: 10px;
}

.item-count-wrap .item-minus {
  left: 10px;
}

.item-delete-btn {
  padding: 8px 10px;
  border-radius: 6px;
  border: 2px solid gray;
  transition: color 100ms ease, border 100ms ease;
}

.item-delete-btn:hover {
  color: rgb(255, 58, 58);
  border-color: rgb(255, 157, 157);
}

/* responsive */
@media all and (max-width: 500px) {
  .cart-wrap {
    width: 90%;
  }
}


/*======== Subcategory =======*/
.Subacatheading {
  margin-top: 20px;
  margin-left: 354px;
}

.textpadding {
	padding-left: 25px;
	padding-right: 25px;
}

/*=========== end subcategory =========*/

/*===================
mega menu
======================*/

.sub-menu ul li {
  color: black;
}

/* ##### navbar ##### */


.navbar{
  padding: 5px 10px;
  background: #232f3e;
}

.dropdown-item:focus, .dropdown-item:hover {
	color: white;
	background-color: #007bff;
}

.navbar-light .navbar-nav .show > .nav-link, .navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .nav-link.active {
	color: #fff;
}

.navbar-light .navbar-nav .show > .nav-link, .navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .nav-link {
	color: #fff;
}


@media all and (max-width: 991.9px) {
  #header{
        display: none;
    }
   
}

/* ##### hero ##### */
#hero {
  margin-top: 20px;
}
#hero img {
  width: 100%;
}

.card-lg {
  color: #fff;
  border-radius: 8px;
  position: relative;
  padding: 140px 38px 38px;
  box-shadow: var(--shadow);
  background: linear-gradient(to right, #48a3ff, #ff9e20);
}

.card-lg h2 {
  margin-bottom: 8px;
  font: 800 calc(48px + 3vw) "Exo 2";
}

.card-lg h4 {
  margin-bottom: 6px;
  font-size: calc(20px + 0.6vw);
}

.card-lg .float-item {
  top: 12px;
  width: 40%;
  right: 12px;
  position: absolute;
}

.card-sm {
  color: white;
  display: flex;
  padding: 32px;
  border-radius: 8px;
  align-items: center;
  box-shadow: var(--shadow);
  justify-content: space-between;
}

.card-sm.purple {
  background: linear-gradient(to right, #e64aff, #090005);
}

.card-sm.sky {
  background: linear-gradient(45deg, #08afda, #f114e2);
}

.card-sm .product {
  width: 30%;
}

/* responsive */
@media all and (max-width: 767.9px) {
  .card-lg {
    padding-top: 98px;
  }

  .card-sm .product {
    width: 40%;
  }
}

#loryslider {
  margin-top: 20px;
}


#loryslider2 {
  margin-top: 20px;
}


#recommended {
	margin-top: 20px;
}

.carousel-block { 
  background-color: white; 
  color:#fff; 
  height:616px;
}


.addtocartdiv {
  background-color: #f60;
  position: absolute;
  bottom: 5%;
  left: 10.5%;
  width: 230px;
  height: 40px;
}

.addtocartdivcat {
	background-color: #f60;
	position: absolute;
	bottom: 5%;
	left: 12.6%;
	width: 230px;
	height: 40px;
}

.addtocartbtn {
	display: block;
	padding: 8px;
	font-family: GoodHome;
	font-size: 19px;
  color: white;
  text-align: center;
  font-weight: bold;
}

.addtocartbtn:hover {
	color: white;
}


.collection {
  margin-bottom: 10px;
  font-size: 14px;
}
.collection p {
  font-size: 12px;
  color: black;
}
.delivery {
  float: left;
}

.delivery i {
  margin-right: 5px;
  margin-top: 3px;
}

.carousel-block h6 {
  color: black;
}

.carousel-block h5 {
  color: black;
}

.star {
  float: left;
  margin-bottom: 15px;
  font-size: 12px;
}

.recommeneddiv {
	height: 587px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 4px inset, rgba(0, 0, 0, 0.4) 0px -2px 1px inset;
}

.recommeneddiv:hover {
	box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 2px inset, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px inset;
}



.recommend-card {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
}

.recommend-img {
	width: 234.9px;
  height: 234.9px;
	position: relative;
	margin-bottom: 20px;
	margin-top: 10px;
	margin-inline: auto;
  padding-top: 20px;
}

.recommend-img img {
	width: 100%;
	overflow: hidden;
	object-fit: contain;
	height: 100%;
}

.cardproductname {
  margin-bottom: 15px;
  color: black;
}
.recommend-card h6 {
  text-align: left;
  line-height: 1.5rem;
}

.star i {
  margin-right: 5px;
}

.cardprice {
  margin-bottom: 15px;
}
.cardprice h4 {
  display: block;
  overflow: hidden;
  width: 100%;
  text-align: left;
  color: black;
}

/* ##### product ##### */
#product {
  margin-top: 20px;
}

#product img {
  width: 100%;
}

.toprateddivheading {
  margin-bottom: 15px;
  margin-left: 25px;
}

.btn-md {
  color: #fff;
  font-weight: 600;
  padding: 8px 22px;
  text-align: center;
  border-radius: 8px;
  box-shadow: var(--shadow);
  background: linear-gradient(to right, #3abbf1, #6aa6ff);
}

.btn-md.hot {
  background: linear-gradient(to right, #ff950a, #ff4678);
}

.card-md {
  z-index: 1;
  padding: 42px 18px;
  position: relative;
  text-align: center;
  border-radius: 12px;
  background: #fff;
  margin-bottom: 22px;
  box-shadow: var(--shadow);
}

.card-md .product-img {
  width: 80%;
  position: relative;
  margin-bottom: 28px;
  margin-inline: auto;
}

.card-md .glow {
  z-index: -1;
  top: 0;
  left: 0;
  position: absolute;
}

.add-cart-wrap {
  display: flex;
  border-radius: 10px;
  width: max-content;
  margin-inline: auto;
  align-items: center;
  border: 2px solid #3bbaf1;
}

.add-cart-wrap input {
  border: 0;
  width: 44px;
  padding-left: 14px;
}

.add-cart-wrap input:focus-within {
  outline: 0;
}

.card-md-cta {
  gap: 4px;
  top: 22px;
  right: 26px;
  display: flex;
  font-size: 20px;
  color: #c3e4ff;
  position: absolute;
  flex-direction: column;
}

.card-md-cta .fa-heart.active {
  color: #ff7a2f;
}

.card-md-cta .fa-code-compare.active {
  color: #49b4f5;
}



/* ##### flash sale ##### */
#sale {
  margin-top: 60px;
}

.flash-sale-wrap {
  gap: 28px;
  display: flex;
  flex-wrap: wrap;
  padding: 70px 22px;
  border-radius: 12px;
  margin-bottom: 20px;
  align-items: center;
  justify-content: space-around;
  background: linear-gradient(to right, #ff8d0a, #ff6ad7);
}

.flash-sale-title {
  gap: 12px;
  display: flex;
  flex-wrap: wrap;
  font-weight: 800;
  font-style: italic;
  align-items: center;
  justify-content: center;
  font-size: calc(26px + 1vw);
}

.flash-sale-title img {
  width: 10%;
}

.flash-sale-timer {
  gap: 28px;
  color: #fff;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
}

.flash-sale-timer .timer {
  min-width: 103px;
  font-weight: 800;
  padding: 14px 20px;
  border-radius: 8px;
  margin-bottom: 8px;
  font-size: calc(32px + 2vw);
  background: hsla(216, 100%, 99%, 0.5);
}

.flash-sale-timer p {
  font-weight: 600;
  font-size: calc(18px + 0.5vw);
}

/* ##### footer ##### */
#footer {
  color: #fff;
  margin-top: -120px;
  padding: 150px 0 60px;
  background: #080a29;
}

.footer-links {
  gap: 14px;
  display: flex;
  font-weight: 300;
  flex-direction: column;
}

.footer-links .title {
  font-size: 18px;
  font-weight: 600;
}

/* ##### shoe - page ##### */
.fw-bold {
	font-size: 1.7rem;
}




.breadcrumb-title {
  color: gray;
  margin: 32px 0;
  font-size: 18px;
  font-weight: 300;
}

.breadcrumb-title span {
  font-weight: 600;
  color: var(--txt-primary);
}

/* filter card */
.filter-card {
  padding: 36px;
  border-radius: 8px;
  background: #fff;
  margin-bottom: 28px;
  box-shadow: var(--shadow);
  margin-top: 9px;
}

.filter-btn {
  gap: 10px;
  display: flex;
  padding: 6px 12px;
  border: 2px solid;
  width: max-content;
  align-items: center;
  border-radius: 8px;
  margin-bottom: 20px;
}

.filter-btn span {
  font-size: 18px;
  margin-top: -2px;
  font-weight: 500;
}

.filter-close {
  color: gray;
  font-size: 32px;
  width: max-content;
  margin-inline: auto 20px;
}

/* responsive */
@media all and (max-width: 991.9px) {
  .filters-wrap {
    top: 0;
    left: 0;
    z-index: 199;
    width: 280px;
    height: 100vh;
    position: fixed;
    padding-top: 28px;
    overflow-y: scroll;
    background: #fff;
    box-shadow: var(--shadow);
    transform: translateX(-282px);
    transition: transform 200ms ease;
  }

  .filters-wrap.show {
    transform: translateX(0);
  }

  .filter-card {
    padding: 30px;
    margin-bottom: 0;
    box-shadow: none;
    background: transparent;
  }
}

/* ##### details - page ##### */
.details-card {
  padding: 60px 40px;
  background: #fff;
  border-radius: 12px;
  box-shadow: var(--shadow);
}

.details-card-img {
  width: 80%;
  z-index: 1;
  position: relative;
}

.details-card-img .glow {
  top: 50%;
  left: 50%;
  width: 60%;
  z-index: -1;
  position: absolute;
  transform: translate(-50%, -50%);
}

.stars-wrap {
  gap: 4px;
  display: flex;
  color: #fa6400;
  align-items: center;
}

.details-card .price {
  color: black;
  font-weight: 700;
}

.qntyfontsize {
  font-size: 14px;
}

.details-card .line-through {
  text-decoration: line-through;
  text-decoration-color: red;
  text-decoration-thickness: 2px;
}

.details-card .add-cart-wrap {
  margin-inline: 0;
}

.btn-outline {
  gap: 8px;
  display: flex;
  padding: 8px 20px;
  text-align: center;
  border-radius: 8px;
  align-items: center;
  justify-content: center;
  border: 2px solid #a8aaad;
}

.proquatitybtn {
  margin-left: 82px;
  position: relative;
}

.qntyinput {
	position: absolute;
	top: 1px;
	left: 43px;
	width: 53px;
	text-align: center;
  font-weight: bold;
}

.qntybtnin {
  position: absolute;
  top: 0;
  left: 0;
}

.qntybtnde {
  position: absolute;
  top: 0;
  left: 104px;
}

.qntydiv {
  position: relative;
  top: 8px;
}

.proaddtocart {
  height: 150px;
  margin-bottom: 30px;
  position: relative;
}

.btn-primary {
  background-color: #fa6400;
  width: 300px;
  border: none;
}

.proaddtocartbtn {
  position: absolute;
  bottom: 0;
  left: 0;
  padding-left: 0;
  height: 54px;
}

.proaddtocart h5{
	margin-left: 31px;
	margin-bottom: 6px;
}

/*====== xzoom ==========*/

.xzoomimgdiv {
  width: 500px;
  height: 400px;
  overflow: hidden;
  box-sizing: border-box;
}

.xzoomimg{
  width: 100%;
  height: 100%;
}

.xzoomthubmargin {
  margin-top: 20px;
}


.btn-outline i {
  color: #97d0ff;
}

/* tabs */
.tab-card {
  padding: 40px;
  text-wrap: auto;
  margin-top: 60px;
  background: #fff;
  border-radius: 12px;
  box-shadow: var(--shadow);
}

.tab-card .nav {
  padding-bottom: 8px;
}

.tab-card .nav-link {
  font-size: 18px;
  width: max-content;
  color: var(--txt-primary);
}

.tab-card .nav-link.active {
  font-weight: 600;
}
